.InputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5em;
    border-radius: 5px;
    gap : 10px;
    svg {
        cursor: pointer;
    }
}